.table{
  margin-bottom: $spacer*4;
  tr{
    cursor: pointer;
  }
}

.pagination{
  .page-link{
    border: 1px solid $success;
    color: $gray-900;
    &:hover{
      color: $white;
      background: $success;
    }
  }
  .page-item.active .page-link{
    color: $white;
    background: $success;
    border-color: $success;
  }
  .page-link-icon{
    padding: 4px;
    height: 100%;
    color: $success;
  }
}

.table{
  thead{
    i{
      font-size: 12px;
    }
  }
  td{
    padding-top: $spacer;
    padding-bottom: $spacer;
  }
}

.person-content{
  width: 141px;
  img{
    width: 141px;
    height: 141px;
    object-fit: cover;
  }
}

.modal{
  .modal-footer{
    button{
      margin: 0;
    }
  }
}

.expandLess{
  display: none;
}

.sendMailBtn{
  color: $success;
  &:hover{
    background: $success;
    color: $white;
  }
}

.notVerified{
  display: none;
}

.isVerified{
  display: none;
}

.isDectivate{
  display: none;
}

.readonlyStyle{
  background: $gray-100;
  border: 0;
}