.person-content{
  width: 141px;
  img{
    width: 141px;
    height: 141px;
    object-fit: cover;
  }
}

.expandLess{
  display: none;
}

.sendMailBtn{
  color: $success;
  &:hover{
    background: $success;
    color: $white;
  }
}

.notVerified{
  display: none;
}

.isVerified{
  display: none;
}

.notVerified{
  button{
    border-color: $gray-400;
  }
}

.isVerified{
  button{
    border-color: $gray-400;
    color: $gray-400;
  }
}

.isDectivate{
  display: none;
}

.form-control:read-only {
  background: $gray-100;
  border: 0;
}