.list-group-item{
  padding: 12px;
}

.card-header{
  padding-top: 12px;
  padding-bottom: 12px;
}

.card-body{
  padding-bottom: 22px;
  .card-img{
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
  }
  .card-assignment{
    width: 100%;
    border-bottom: 1px solid $gray-400;
  }
  img{
    width: 100%;
    display: block;
  }
  p{
    font-size: $font-size-sm;
  }
}

.hideStyle{
  border-radius: 4px 4px 0 0;
  .card-body{
    padding-bottom: 12.5px;
  }
}

.author-edit{
  display: none;
  border-radius: 0 0 4px 4px;
  border-top: 0;
  .card-body{
    p{
      margin-bottom: 150px;
    }
  }
}

.downloadBtn{
  &:hover{
    background: $gray-300;
  }
}

.editBtns{
  bottom: $spacer;
  right: 24px;
}