/* header */
.header{
  position: fixed;
  max-width: 266px;
  min-height: 100vh;
  .navbar-brand{
    h1{
      background: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week5/logo-ANSWER.svg') no-repeat;
      width: 151px;
      height: 40px;
      @include title;
    }
  }
}

.author{
  .author-img{
    img{
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  p{
    font-size: $font-size-sm;
  }
}
