.pagination{
  .page-link{
    border: 1px solid $success;
    color: $gray-900;
    &:hover{
      color: $white;
      background: $success;
    }
  }
  .page-item.active .page-link{
    color: $white;
    background: $success;
    border-color: $success;
  }
  .page-link-icon{
    padding: 4px;
    height: 100%;
    color: $success;
  }
}